<h2><%= @user.name %>'s profile</h2>
<% if @user.editable_by?(current_user) %>
	<%= link_to "編輯帳戶", edit_user_registration_path %>
<% end %>
<div class="jumbotron">
	<%= image_tag(@user.image+"?type=large") %>
	<%= @user.name %>
	<%= link_to("FB", @user.fblink) %>
</div>