<div class="col-md-12">
	<p>預約人數: <%= @reservation.amount %> </p>
	<p>總價: <%= @reservation.totalprice %> </p>
	<p>付款: <%= getPaymentState %>  </p>
	<p>訂購人 <%= @reservation.contact_name %> </p>
	<p>連絡信箱 <%= @reservation.contact_mail %> </p>
	<p>聯絡電話 <%= @reservation.contact_phone %> </p>
	<hr>

	<h2><%= @meal.title %></h2>
	<p>提供者:<%= link_to(@meal.owner.name, users_path(@meal.owner)) %></p>
	<%= @meal.owner.email %>
	<p>照片:<%= image_tag(@meal.picture.url) if @meal.picture.present? %></p>
	<p>形式:<%= @meal.takeType %></p>
	<p>新台幣<%= @meal.price %>元</p>
	<p>地點:<%= @meal.address %></p>
	<p>菜單:<%= @meal.menu %></p>
	<p>接受<%= @meal.minGuests %>～<%= @meal.maxGuests %>人</p>
	<p>時間:<%= @meal.startTime %>～<%= @meal.endTime %></p>

</div>