<% if @meal.errors.any? %>
<div class="error_explanation">
	<ul>
		<% @meal.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<hr>
<%= simple_form_for @meal do |f| %>
<%= f.input :title, input_html:{class: "form-control"} %>
<%= f.input :takeType, input_html:{class: "form-control"} %>
<%= f.input :price, label: "Price", input_html: {:style => "width: 100px;"}%>
<%= f.input :address, input_html:{class: "form-control"} %>
<%= f.input :menu, input_html:{class: "form-control"} %>
<%= f.input :minGuests, label: "Minimum Guests", input_html: {:style => "width: 50px;"}%>
<%= f.input :maxGuests, label: "Maximum Guests", input_html: {:style => "width: 50px;"}%>
<%= f.input :startTime, label: "Start Time"%>
<%= f.input :endTime, label: "End Time"%>
<%= f.label "上傳圖片" %>
<%= f.file_field :picture %>
<hr>
<%= f.submit "提交", :disable_with => "提交中...", :class=>"btn btn-primary" %>
<% end %>