<div class="col-md-12">
	<h2><%= @meal.title %></h2>
	<p>提供者:<%= link_to(@meal.owner.name, users_path(@meal.owner)) %></p>
	<p>照片:<%= image_tag(@meal.picture.url) if @meal.picture.present? %></p>
	<p>形式:<%= @meal.takeType %></p>
	<p>新台幣<%= @meal.price %>元</p>
	<p>地點:<%= @meal.address %></p>
	<p>菜單:<%= @meal.menu %></p>
	<p>接受<%= @meal.minGuests %>～<%= @meal.maxGuests %>人</p>
	<p>時間:<%= @meal.startTime %>～<%= @meal.endTime %></p>

	<% if @meal.editable_by?(current_user) %>
	<%= link_to("編輯", edit_meal_path(@meal), :class=>"btn btn-primary") %>
	<% end %>
	<div class="meal">
		<% if !current_user.nil? %>
		<% if current_user.is_guest_of?(@meal) %>
		<%= link_to("退出", quit_meal_path(@meal), :method => :post, :class => "btn btn-info") %>
		<% else %>
		<%= link_to("加入", join_meal_path(@meal), :method => :post, :class => "btn btn-info") %>
		<% end %>
		<% end %>
	</div>

	<% @meal.guests.each do |guest| %>
	<%= link_to(guest.name, users_path(guest)) %>
	<% end %>
	
</div>