<div class="col-md-12">
	<h2><%= @meal.title %></h2>
	<p>提供者:<%= link_to(@meal.owner.name, users_path(@meal.owner)) %></p>
	<%= @meal.owner.email %>
	<p>照片:<%= image_tag(@meal.picture.url) if @meal.picture.present? %></p>
	<p>形式:<%= @meal.takeType %></p>
	<p>新台幣<%= @meal.price %>元</p>
	<p>地點:<%= @meal.address %></p>
	<p>菜單:<%= @meal.menu %></p>
	<p>接受<%= @meal.minGuests %>～<%= @meal.maxGuests %>人</p>
	<p>時間:<%= @meal.startTime %>～<%= @meal.endTime %></p>

	<% if @meal.editable_by?(current_user) %>
	<%= link_to("編輯", edit_meal_path(@meal), :class=>"btn btn-primary") %>
	<% end %>

	<%= render :template => 'reservations/new' %>

	<h4>有誰加入？</h4>
	<% @meal.guests.each do |guest| %>
	<%= link_to(guest.name, users_path(guest)) %>
	<% r = @meal.reservations.find_by(user_id: guest.id) %>
	<% case r.state %>
	<% when 0 %>
	<% if @meal.editable_by?(current_user) %>
		<%= link_to( "接受", confirm_reservation_path(r), class: "btn btn-default", method: :put) %>
		<%= link_to( "拒絕", reject_reservation_path(r), class: "btn btn-default",  method: :put) %>
	<% else %>
		<%= "等待主廚確認" %>
	<% end %>
	<% when 1 %>
	<%= "已確認" %>
	<%= link_to( "redo", recovery_reservation_path(r), class: "btn btn-default",  method: :put) %>
	<% when -1 %>
	<%= "已拒絕" %>	
	<%= link_to( "redo", recovery_reservation_path(r), class: "btn btn-default",  method: :put) %>
	<% end %>
	<% end %>

	<table class="table">
		<thead>
			<tr>
				<th>評價</th>
				<th>評語</th>
				<th>評價人</th>
				<th>
				<% if current_user && current_user.is_guest_of?(@meal) %>
				<%= link_to( "新增評語", new_meal_comment_path(@meal), :class=>"btn btn-primary btn-xs" ) %>
				<% end %>
				</th>	
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<% @comments.each do |comment| %>
			<tr>
				<td><%= comment.rating %></td>
				<td><%= comment.content %></td>
				<td><%= link_to(image_tag(comment.author.getImg, width:"64")+
								comment.author.name, users_path(comment.author) ) %></td>
				<% if current_user && comment.editable_by?(current_user) %>
				<td><%= link_to("edit", edit_meal_comment_path(comment.meal, comment), :class => "btn btn-default btn-xs"  ) %>
				<%= link_to("delete", meal_comment_path(comment.meal, comment), :class => "btn btn-default btn-xs", :method => :delete, data:{ confirm: "Are you sure?" } )%>
				</td>
				<% end %>
			</tr>
			<% end %>	
		</tbody>
	</table>

	<div class="meal">
		<% if !current_user.nil? %>
		<% if current_user.is_guest_of?(@meal) %>
		<%= link_to("退出", quit_meal_path(@meal), :method => :post, :class => "btn btn-info") %>
		<% else %>
		<%= link_to("加入", join_meal_path(@meal), :method => :post, :class => "btn btn-info") %>
		<% end %>
		<% end %>
	</div>

	<% @meal.guests.each do |guest| %>
	<%= link_to(guest.name, users_path(guest)) %>
	<% end %>
</div>